.hello{
    font-weight: 900;
    font-size: 45px;
    margin: 2rem;
    background-color: aqua;
    text-align: center;
}

.todo_container{
    width: 70%;
    margin: 40px auto;
    font-weight: 900;
}

.row{
    margin: 12px 0;
    align-items: center;
    
}

.kgButton{
    min-width: 90px;
    
}

.itemsContainer{
    text-align: left;
    
}